apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
namePrefix: music-
resources:
- beets
- sync-to-ceph
- sync-to-b2
- pvc.yaml
components:
- ../../../components/transmission
patchesStrategicMerge:
- patch.yaml
